h1{
    font-family: cursive;
    position: relative;left:400px;
    color:	 green
}
body{
    background-color: rgba(180, 233, 150, 0.965);
}
h2{
    color: #000;background-color: whitesmoke;position: absolute;padding:3926;bottom:108px;left:490px;
    padding:900;

    border: brown solid 2px ;
}




